/*form styles*/
#msform {
    display: inline-block;
    margin: 0 auto;
    position: relative;
 
    width: 100%;
}
#msform fieldset {
    background: white none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product {
  color: #3ca773;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 22px;
  margin-bottom: 0;
  width: 75%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/

/*buttons*/


/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

.collapse {
    display: none;
}
.collapse.in {
  clear: both;
  display: block;
}

.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height,visibility;-o-transition-property:height,visibility;transition-property:height,visibility}



/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#msform .upload input {
    background: transparent;
    border: none;
    padding: 10px;
    margin: 0 0 20px;
}

#msform fieldset {
    position: relative;
}
#msform .next_button {
    bottom: -87px;
    display: inline-block;
    left: 40%;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
#msform .step1odername {
    display: inline-block;
    width: 80%;
}
#msform .step1oderprice {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 20%;
}
#msform .count1 {
    color: hsl(151, 47%, 45%);
    float: left;
    width: 15%;
}

#msform .step2odername {
    display: inline-block;
    width: 80%;
}
#msform .step2oderprice {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 20%;
}
#msform .pr-name1 {
    display: inline-block;
    width: 85%;
}
#msform .pr-name2 {
    display: inline-block;
    width: 85%;
}
#msform .save_color {
    background: hsl(151, 47%, 45%) none repeat scroll 0 0;
    border: medium none;
    border-radius: 35px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: montserratbold;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 45px;
    text-transform: uppercase;
    width: 135px;
}
.term {
    padding-bottom: 10px;
    display: block;
    clear: both;
}